#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 10px;
}

.logo.react {
  width: 100px;

}



legend {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  display: block;
  margin-bottom: 1rem;
  font-family: monospace;
}

.btn {
  margin-top: 10px;
  background-color: #2a9d8f;
  border: none;
  color: #bde0fe;
  font-size: 1.4rem;
  border-radius: 5px;
  padding: 7px;
}

.btn::after {
  content: ' \2192';
}

.btn:hover {
  background-color: #264653;
}